section{
  .button{
    button{
      position: absolute;
      margin-top: 30px;
      font-family: 'Myriad Pro';
      font-size: 1.75rem;
      border-radius: 5%;
      border: none;
      background-color: #da0000;

      &:hover {
        background-color: #a10000;
      }

      a {
        text-decoration: none;
        color: #ffffff;

        &:hover{
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
  }
  .cool{
  height: 100vh;
    .carousel{
      .carousel-indicators .active {
        background-color: #da0000;
      }
    }
    .textez{
      .nom{
        font-family: Raleway_Bold;
        margin-top: 20px;
        font-size: 2.625rem;
      }
      .metier{
        font-family: Raleway_Light;
        font-size: 0.75rem;
      }
      hr{
        width: 200px;
        height: 2px;
        border: none;
        background-color: #da0000;
      }
      .description{
        font-family: Raleway_Regular;
      }
      .row{
        height: 100px;
        .reseaux{
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 10px;
          margin-left: 10px;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          background-color: #000000;
          color: #ffffff;
          &:hover{
            background-color: #da0000;
          }
          a{
            text-decoration: none;
            color: #ffffff;
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px){
  section{
    .button{
      z-index: 1000;
    }
  }
}
