section{
  .projet{
    padding-top: 160px;
    .visitez{
      margin-top: -295px;
      .arrow{
        width: 200px;
        height: 150px;
      }
      .permanent{
        font-family: PermanentMarker_Regular;
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 575.98px){
  section{
    .projet{
      .visitez{
        visibility: hidden;
      }
    }
  }
}
