{% extends 'base.html.twig' %}
{% block body %}
<section class="container-fluid">
  <div class="button">
    <button><a href="{{ path('home') }}">Retour</a></button>
  </div>
  <div class="container">
    <div class="row">
      <div class="row align-items-center projet">
        <div class="col-sm-12 col-md-6">
          <img src="{{ asset('img/projet3.jpg') }}" alt="projet1">
        </div>
        <div class="col-sm-12 col-md-6 textez">
          <div class="text-center">
            <h1 class="nom">Space Invaders</h1>
            <hr>
            <p class="description">Jeux vidéo fait en JS, produit par Floriane SIMMET, Magali HAAS et moi.</p>
          </div>
        </div>
        <div class="hidden-sm col-sm-12 col-md-7 offset-md-4 visitez d-flex">
          <img class="arrow" src="{{ asset('img/arrow.png') }}" alt="fleche">
          <p class="permanent">Vous voulez visiter le projet cliquez sur l'image</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
